<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shinoharanaoki.mytouchcontrolsample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main_activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sample1_move_image.MoveImageViewActivity" />
        <activity android:name=".sample2_mave_a_ball.MoveBallObjectActivity" />
        <activity android:name=".sample3_multi_touch.ThreeBallsActivity" />
        <activity android:name=".LoopingBalloonsActivity" />
        <activity android:name=".sample4_sound_on_touch.FlashBallsActivity" />
        <activity
            android:name=".chord_activity.ChordBoardActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".sample5_multi_touch_color.MultiTouchActivity"></activity>
    </application>

</manifest>